<!---views/charitys-show.handlebars -->

<a href="/">Back to Home</a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<h1> {{charity.title}} </h1>
<h2> {{charity.charityTitle}} </h2>
<p> {{charity.description}} </p>

<p><a href="/charities/{{charity._id}}/edit">
    <button type="submit"> Edit </button></a></p>

<!---Delete button --->
<p><form method="POST" action="/charities/{{charity._id}}?_method=DELETE">
    <button type="submit">Delete</button>
</form></p>

<!-- Comment form -->
{{> comment-form}}

<hr>

<!-- Show Comments -->
{{#each comments}}
  {{> comment}}
{{/each}}

</div>
</div>
